- var gravatar = 'http://www.gravatar.com/avatar/'+user.hash+'?s=100&d=retro'
- var imgUrl = user.photo? user.photo:gravatar
.contact-wrapper
    .contact-frame(style='background-image:url("'+gravatar+'")')
        div(style='background-image:url("'+imgUrl+'")')
    .contact-info-list
        span.contact-name= user.name