li.msg.msg-system(class='msg-system-'+type)
   .message
        .msg-body
            if profile!==undefined && profile
                a.from(href='/profile/'+profile._id,target='_blank',data-toggle="hover",data-delay='100',title=profile.name,data-placement="left",data-content="скоро здесь будет превью профиля ") #{profile.name}
                span &nbsp;
            =text
