.row-fluid.profile-block.dialog-contact(data-contact-id=user._id.toString())
   include ../includes/profile
   .span3.text-right.text-vcenter
        i.icon-envelope(class=unreadCount>0?'unread':'muted') &nbsp;
        span.unread-counter=unreadCount
        br
        a.muted.open-dialog(href='#',data-contact-id=user._id.toString(),onclick="_gaq.push(['_trackEvent', 'Dialog', 'Open']);")
            Открыть диалог
hr.catalog-separator