li.msg(class=msg.from===cid?'from-me':'to-me',data-reply-name=(msg.fromProfile && msg.from!==cid)?msg.fromProfile.name:"")
   .message(class=msg.read?'read':'unread')
        .msg-body
            if msg.from===cid
                strong.from Я:&nbsp;
            else if msg.fromProfile
                a.from(href='/profile/'+msg.from,target='_blank',data-toggle="hover",data-delay='100',title=msg.fromProfile.name,data-placement="left",data-content="скоро здесь будет превью профиля ") #{msg.fromProfile.name}
                span :&nbsp;
            else
                strong.from >>:&nbsp;
            span.body
                if msg.body
                    - var lines = msg.body.match(/[^\r\n]+/g)
                    if lines && lines.length
                        each line in lines
                            =line
                            br
        .text-right
            small.timestamp.muted(data-time=msg.received.toString())=moment(msg.received).fromNow()