.popup-msg
    .contact-wrapper
        - var gravatar = 'http://www.gravatar.com/avatar/'+user.hash+'?s=100&d=retro'
        - var imgUrl = user.photo? user.photo:gravatar
        .contact-frame(style='background-image:url("'+gravatar+'")')
            div(style='background-image:url("'+imgUrl+'")')
        .contact-info-list
            h2.contact-info-username
              if user.network
                i(class='network-'+user.network)
              =user.name
            .message-body.muted
              =body.substring(0,140)+'...'
            a(href='/chat') Перейти к сообщениям