.top-control.first-time
    .alert.alert-success
      button(type="button",class="close") &times;
      .select
          h1.text-center Выберите, кто вы
          p.text-center И мы расскажем, зачем <strong>вам</strong> все это нужно
          - var rnd = Math.floor(Math.random() * (4 - 1 + 1)) + 1;
          button.btn.btn-large.btn-success(type="button",data-open='#girls')
            Я девушка!
            br
            if rnd == 1
                small я не хочу ничего решать,
                      br
                      хочу программиста!
            else if rnd == 2
                small я не хочу работать,
                      br
                      я хочу программиста!
            else
                small я не знаю, чего хочу,
                      br
                      но программист не помешает!
          button.btn.btn-large.btn-success.pull-right(type="button",data-open='#programmers')
            Я программист!
            br
            if rnd == 1
                small я не хочу ничего решать,
                      br
                      я хочу клац-клац-клац
            else if rnd == 2
                small я не хочу ничего решать,
                      br
                      я хочу световой меч и Кольцо Всевластия
            else if rnd == 3
                small я не хочу ничего решать,
                      br
                      я хочу ТЗ
            else
                small я не хочу ничего решать,
                      br
                      я хочу 0 tests failed
      #girls.hidden
          h1 Ищете идеального спутника жизни?
             br
             Программист - это ваш выбор!
          p Программист скромен, спокоен, умен и весьма неприхотлив. Программист неплохо зарабатывает, но при этом тратить все заработанное не умеет и не хочет.
            br
            Потребности и запросы программиста чрезвычайно малы - обеспечьте его простой едой и электропитанием и получите взамен верного, тихого, обеспеченного и надежного спутника жизни.
            br
          p Есть лишь одна трудность... Программист нерешителен, и знакомиться ему непросто.
            br
            Но он очень хорошо обучается! (Мы проверяли)
          h3 Так что всего лишь нужно проявить инициативу!
          p Рискните! Попробуйте! Напишите сообщение Программисту!
          p.muted P.S. Возможно вы в одном клике от счастья!

      #programmers.hidden
            h1 Дорогой Программист,
            p Мы знаем, что тебе лень бороться за прекрасных дам (<i>и еду, которую они могут обеспечить</i>) на вольных выпасах.
              br
              Сложные брачные игры и битвы с самцами-соперниками - это бессмысленная трата ресурсов?
              br
              Но ведь иметь рядом с собой мягкое и привлекательное существо, которое позаботится о тебе во всех смыслах слова, было бы весьма приятно, не так ли?
              br
              Если подходящая спутница жизни тебе еще не встретилась, у нас есть для тебя решение!
              br
              Все, что от тебя требуется, это <a href='/register'>зарегистрироваться и создать себе профиль</a>. Остальное мы сделаем за тебя.
            p.muted P.S. Можешь не благодарить