if locals.authenticated
    script(type="text/javascript")
        window.intercomSettings = {
          name: '#{locals.currentUser.name}',
          email: '#{locals.currentUser.email}',
          created_at: '#{locals.currentUser.updated}',
          app_id: "lgbt8vb0"
        }
else if locals.profile
    script(type="text/javascript")
        window.intercomSettings = {
          name: '#{locals.profile.name}',
          email: '#{locals.profile.email}',
          app_id: "lgbt8vb0"
        }
script(type="text/javascript")
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/lgbt8vb0';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
