.vk
    #vk_like
    script(type="text/javascript")
        VK.Widgets.Like("vk_like", {type: "button",
            pageTitle:"Сайт знакомств с программистами Love++",
            pageDescription:"Женщины, решающие связать свою жизнь с программистами, автоматически выбирают счастье и благополучие до конца жизни. Программист — это идеальный муж! Программист предан своей жене всецело, обычно он не пьет и не курит, зарабатывает много денег и совсем не умеет их тратить. Все жены непрограммистов завидуют женам программистов.",
            pageUrl:"http://loveplusplus.ru/"
            },1);
    #fb-root
    script(type="text/javascript")
        (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
           ref.parentNode.insertBefore(js, ref);
         }(document));
    .fb-like(style='margin-top:15px;',data-href="http://loveplusplus.ru/",data-send="true", data-layout="button_count", data-width="200", data-show-faces="false")
