//Helper for paging
- var total = Math.max(totalPages,page)
    if total > 1
        .pagination.pagination-large.pagination-centered
           -var prevPage = Math.max(1,page-1)
           -var nextPage = Math.min(total,page+1)
           ul
             li(class="#{prevPage===1 && page===1 ? 'disabled' : ''}"): a(href=address+(address.indexOf('?')>=0?'&page=':'?page=')+prevPage,rel='prev') &larr;&nbsp;назад
             - var range = 5
             - var from = Math.max(1,page-2);
             - range=range-Math.min(3,page);
             - to = Math.min(total,page+range)
             - for (var i = from; i <= to; ++i) {
                li(class="#{i===page ? 'active' : ''}")
                    if (i===page)
                       span= i
                    else
                       a(href=address+(address.indexOf('?')>=0?'&page=':'?page=')+i)= i
             - }
             li(class="#{nextPage==total && page==total ? 'disabled' : ''}"): a(href=address+(address.indexOf('?')>=0?'&page=':'?page=')+nextPage,rel='next') вперед&nbsp;&rarr;