- var address= locals.url.replace(/[&?]page(=[^&]*)?|^page(=[^&]*)?&?/i,'').replace(/[&?]_(=[^&]*)?|^_(=[^&]*)?&?/i,'')
include paging
if profiles.length
   each user in profiles
     .row-fluid.profile-block
           include profile
           include profile_control

     hr.catalog-separator
else
  h2.text-center.text-vcenter Похоже, что ничего не нашлось
    br
    small.muted Очень жаль! Попробуйте изменить условия поиска, выберите пол "все" например, или измените возраст.
                br
                И да пребудет с вами Cила!
include paging
