mixin printage(age)
  span.age ,&nbsp;
      =age
      &nbsp;
      - var ageDiff = age % 10
      if age>10 && age<20
        лет
      else if ageDiff === 0
        лет
      else if ageDiff === 1
        год
      else if ageDiff < 5
        года
      else
        лет

.span9.avatar-wrapper
    - var gravatar = 'http://eightbitavatar.herokuapp.com/?id='+user.hash+'&s='+(user.sex=='male'?'male':'female')+'&size=100'
    - var imgUrl = user.photo && user.photo.match(/(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?/i)? user.photo.match(/(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?/i)[0]:gravatar
    .avatar-frame(style='background-image:url("'+gravatar+'")')
        div.fancyBox(style='background-image:url("'+imgUrl+'")')
    .profile-info-list

        h2.profile-info-username
          if user.network
            i(class='network-'+user.network)
          =user.name
          if user.age
              mixin printage(user.age)
              &nbsp;
          if user.last_seen && (new Date().getTime()- user.last_seen) < 120000
              i.icon-lightbulb.icon-online

        if locals.currentUser && user._id.toString() === locals.currentUser._id.toString()
            p.muted &nbsp;(это вы,&nbsp;<a href='/register'>редактировать</a>)
        span.location.muted
          i.icon-map-marker &nbsp;
          i= user.city
        if user.about
            .about.muted
                - var expr = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig
                - var about = user.about.replace(expr,"[ссылка]");
                i
                   =about
        if user.profile
            .about.muted
                i
                    a(href=user.profile)=user.profile
        .tags
            if user.salary
                span.label.label-warning(title=user.salary) Доход:&nbsp;
                    = user.salary


