embed#soundPlayer(src="https://d2nlctn12v279m.cloudfront.net/studio/tag/7.2.0/addons/talk/swf/sounds.swf",wmode="transparent",width="0",height="0",align="",type="application/x-shockwave-flash", pluginspage="http://www.macromedia.com/go/getflashplayer")
