if (locals.authenticated && locals.currentUser && path==='/') || path ==='/register'
    .top-control.toptal-ad
        - var rnd = Math.floor(Math.random() * (4 - 1 + 1)) + 1;
        if rnd == 1
            h3 Только 3% программистов пройдут тест в
        else if rnd == 2
            h3 3% лучших программистов работают удаленно в
        else if rnd == 3
            h3 Лучшая удаленная работа для лучших программистов
        else
            h3 Работай удаленно и получай 6000$/месяц в
        a.btn.btn-success(href='https://www.toptal.com/#unite-competent-architects-now', title='TopTal',target='_blank')
            span.toptal-logo-image
