doctype strict
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        |<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        |<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        |<style type="text/css">
        |#outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
        |body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
        |.ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
        |.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
        |#backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
        |img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
        |a img {border:none;}
        |.image_fix {display:block;}
        |p {margin: 1em 0;}
        |h1, h2, h3, h4, h5, h6 {color: black !important;}
        |h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: blue !important;}
        |h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
        |color: red !important;
        |h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
        |color: purple !important; }
        |table td {border-collapse: collapse;}
        |table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
        |</style>
    body
        table#backgroundTable(cellpadding="0",cellspacing="0",border="0")
            tr
                td(valign="top")
                    table(cellpadding="0",cellspacing="0",border="0",align="center")
                        tr
                            td(width="200",valign="top")
                            td(width="200",valign="top")
                                h1 LOVE++
                            td(width="200",valign="top")
                    block content

