extends layout
block content
    h3 У вас #{unread} непрочитанных сообщений
    p Привет, пока вы не заходили на сайт вам пришло несколько новых сообщений
    a(href='http://loveplusplus.ru/chat') Посмотреть от кого!
    h3 Вот некоторые из них:
    each msg in messages
        p=msg
        hr
