extends layout
block content
    h3 Новости на LOVE++
    p Привет, у нас есть новости!
    p Мы добавили чат! Теперь искать вторую половинку стало еще удобнее!
      br
    a(href='http://loveplusplus.ru') http://loveplusplus.ru
