extends layout
block content
    h3 Удаление профиля на LOVE++
    p Привет, вы (или кто то еще) попросили удалить ваш профиль
    p Если это были не вы - просто игнорируйте это письмо, с вашем профилем все будет в порядке.
    p Для удаления перейдите по ссылке ниже
    a(href=validationLink)
       =validationLink