extends layout
block content
    h3 Регистрация на LOVE++
    p Привет, вы успешно прошли тест в качестве программиста на LOVE++
    p Остался последний шаг: верификация почты.
      br
      Перейдите по ссылке ниже
    a(href=validationLink)
       =validationLink