extends layout
block content
   include includes/search
   #profiles
        include includes/profile_list

block scripts
    script(src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCnnSHEZRx-4ZjbrHP_tXQhj0knNAIdIio&sensor=true&language=ru")
    != renderJs('catalog')





