extends layout
block content
    .top-control.search
        .alert.alert-warning
            h1.text-center Мои сообщения
            #browserNotify.browser-notification.text-center
                button.btn.btn-small.btn-warning Включить оповещения
    #dialogs
        if profiles.length
           each user in profiles
               - var unreadCount = 0
               - for (var i=0;i<unread.length;i++){
               - if (unread[i]._id.toString()===user._id.toString()){
               -    unreadCount = unread[i].count;
               -    break;
               - }}
               include chat/dialog_contact
        else
          h2#nodialogs.text-center.text-vcenter У вас пока нет диалогов
block chatscripts
    script
        initDialogs();

